<div class ="row" id="row1">
  <div class="col-md-8">
    <h1>Staff Directory</h1>

    <form class="form-inline">
    <p>
    <input class="input-xxlarge" type="text" placeholder="search">
      <button type="button" class="btn btn-primary">My School</button>
      <button type="button" class="btn btn-primary">My Distric</button>
    </p>
  </form>


<!-- invite to topic -->
  <form>
  <button type="button" class="btn btn-primary">Invite to Topic</button>
  </form>
  <p>Somrthing missing? Invite them !</p>

  </div>
</div>