	<div class='row' style="background-color: #009EC2; position: absolute; left: 0px; top: 0px; z-index: -1; width: 100%">
		<img src="../images/logo_white.png" height="40px" style = "margin: 10px 15px 5px 50px;"><br />
	</div>


<div id="email">

   <h1 style = "text-align:center; color: #009EC2;">Your account is ready!</h1>
   <h3 style = "text-align:center; color: black;">Please check your email to continue</h3>
	<div align = "center"><img src="../images/email.png" height="300px" width="300px"></div>
	<h3 style = "text-align:center; color: black;">Can't find it? It might be in spam folder</h3>

</div>

 <footer class="footer">
  	<img alt="Brand" src="../images/logo.png" width="80px" height="80px">Copyright 2015 </img>
  </footer>