<div class="container-fluid">
  <div class="row">
  	<div class="col-md-4" id="left">
  		<h1>Topics</h1>
  		<a href="#">Create a New Topics</a><br><br><br>

  		<p>Invite Only Topics</p>
  		<a href="#">Create only invite only topics</a><br><br><br>
  		<p>Direct Messages</p>
  		<a href="#"> Create new direct message</a><br><br><br>
        <div id="setting">
         <a href="#" ><img src="../images/setting.png" height="40px" width="40px">Settings</a>
        </div>

  	</div>
  	

<div class="col-md-8">

  	<div class="pull-right">
  			 <input type="text" class="form-control" placeholder="Search">
  	</div><br><br>

    <div class="pull-right">
  	   <div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary">
			<input type="radio" name="options" id="option2" autocomplete="off">All Messages
			</label>
			<label class="btn btn-primary">
			<input type="radio" name="options" id="option3" autocomplete="off"> Links and Files
			</label>
  	   </div>
  	</div>

  	
    <div class="input-group input-group-lg" id="row3">
		<div class="col-md-9">
			<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
			<span class="input-group-btn">
			 <button class="btn btn-default" type="button">Send</button>
		    </span>
		</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
   







</div>
</div>
</div>