<div id="body1" ng-controller='loginCtrl'> 

	<div class='row' style="background-color: #009EC2; position: absolute; left: 0px; top: 0px; z-index: -1; width: 100%">
		<img src="../images/logo_white.png" height="40px" style = "margin: 10px 15px 5px 50px;"><br />
	</div>
<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-2'>
<br />
<h1 style="text-align:center; color: #009EC2;">Welcome back!</h1>
<p style="text-align:center; color: #009EC2; font-size: 22px;">Let's get you all set up in SCHOOL NAME.</p>
<h2 style="text-align:center; color: black;">What do your friends call you?</h2><br />
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">First Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="First Name" ng-model='createAccount.first_name' />
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Last Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Last Name" ng-model='createAccount.last_name' />
  </div>
</form>
<h4 style="text-align:center">Please select your grades and subjects to help other <br>teachers connect with you.</h4>
<h2 style="text-align:center">What grade(s) do you teach?</h2><br />
<p style="text-align:center">
	<button type="button" class="btn btn-primary btn-sm" ng-click='' style = "font-size: 20px;">PK</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">K</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">1st</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">2nd</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">3rd</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">4th</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">5th</button>
</p>
<p style="text-align:center">
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">6th</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">7th</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">8th</button>
</p>
<p style="text-align:center">
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">9th</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">10th</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">11th</button>
	<button type="button" class="btn btn-primary btn-sm" style = "font-size: 18px;">12th</button>
</p>

<h2 style="text-align:center">And which subject(s)?</h2>
<p style="text-align:center">
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">English Languages Art</button>
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">Creative Arts</button>
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">Special Education</button>
</p>
<p style="text-align:center">
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">Mathematics</button>
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">Religious Studies</button>
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">Health & PE</button>
</p>
<p style="text-align:center">
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">Social Studies</button>
	<button type="button" class="btn btn-primary" style = "font-size: 18px;">World Languages</button>
</p>

<p style="text-align:center"><br />
<a href="#/signup3"><button type="button" class="btn btn-primary btn-lg active;" style = "background-color: #ff7f00 !important;">Next</button></a>

</p>





</div>
</div>
</div>




</div>