<div id="body1"> 

<h1>Welcome back!</h1>
<p>Lets get you all set up in SCHOOL NAME.</p>
<p>What do you friends call you?</p>
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2"> First Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Last Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Last Name">
  </div>
</form>
<h4>Please select your grades and subjects to help other <br>teachers connect with you.</h4>
<h4>What grade(s) do you teach?</h4>
<p>What grade(s) do you teach?</p>
<p>
	<button type="button" class="btn btn-primary btn-sm">PK</button>
	<button type="button" class="btn btn-primary btn-sm">K</button>
	<button type="button" class="btn btn-primary btn-sm">1st</button>
	<button type="button" class="btn btn-primary btn-sm">2nd</button>
	<button type="button" class="btn btn-primary btn-sm">3rd</button>
	<button type="button" class="btn btn-primary btn-sm">4th</button>
	<button type="button" class="btn btn-primary btn-sm">5th</button>
</p>
<p>
	<button type="button" class="btn btn-primary btn-sm">6th</button>
	<button type="button" class="btn btn-primary btn-sm">7th</button>
	<button type="button" class="btn btn-primary btn-sm">8th</button>
	<button type="button" class="btn btn-primary btn-sm">9th</button>
	<button type="button" class="btn btn-primary btn-sm">10th</button>
	<button type="button" class="btn btn-primary btn-sm">11th</button>
	<button type="button" class="btn btn-primary btn-sm">12th</button>
</p>

<h4>And which subject(s)?</h4>
<p>
	<button type="button" class="btn btn-primary">English Languages Art</button>
	<button type="button" class="btn btn-primary">Creative Arts</button>
	<button type="button" class="btn btn-primary">Special Education</button>
</p>
<p>
	<button type="button" class="btn btn-primary">Mathematics</button>
	<button type="button" class="btn btn-primary">Religious Studies</button>
	<button type="button" class="btn btn-primary">Health & PE</button>
</p>
<p>
	<button type="button" class="btn btn-primary">Social Studies</button>
	<button type="button" class="btn btn-primary">World Languages</button>
</p>

<p>
<a href="#/signup3"><button type="button" class="btn btn-primary btn-lg active">Next</button></a>

</p>










</div>