
<div id="body3">
	<h3>Let's invite your colleagues.</h3>
<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <p>We'll send each teacher an email invite to join your professional learning community! You can always invite more later.</p>
	  
	 <a href="#/homepage"> <button type="submit" class="btn btn-default">Finish Setup</button></a>
</form>
<p>Prefer to upload a CSV?</p>

















</div>