#topicsjoined li {
    list-style-type: none;
}

#chatmain {
    height: 75%;
    overflow: scroll;
}

.inner-box {
    padding: 25px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 25px;
}

#maincontainers{
    background: url("../images/background.png");
   background-size: cover;
   height: 900px;
}
.inner-box h1 {
    color: #199EC0;
}

.inner-box button {
    background-color: #199EC0;
    padding: 10px 25px;
}

.teachy-grey {
    background-color: #FAFAFA;
}

p {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 18px;
    color: white;
}
h1 {
    font-family: "Arial Black", Gadget, sans-serif;
}
#discription{
    /*background: blue;
  position: absolute; 
    width: 400px;  
    height: 250px;
    background: black; 
    color:white;
    margin-left: 200px;
    margin-top: 100px;
    padding: 30px;
    opacity: 0.6;
    background-color:rgba(255,0,0,0.5);*/

}

#maincontainer {
    /*background: url("../images/background.png");*/
    background-color: yellow;
}

#settings{
   margin-top:750px;
}

#email{

    margin-left: 200px;
    margin-top: 100px;
}

#main{
    width: auto;
    display: inline-block;
    margin-top: -15px;


}
#main1{
    margin-left: 600px;
    margin-top: 10px;
    display: inline;
}

#messagebox{
    width: 800px;
    height:600px;
    background-color: white;
    margin-left: 100px;
    

}

#nameBar {
    overflow: auto;
    clear: both;
    padding: 10px;
    background-color: #E8E8E8;
    width: 100%;
}

#channelName {
    display: inline-block;
}

#nameBar {
    overflow: auto;
    clear: both;
    padding: 10px;
    background-color: #F7F7F7;
    width: 100%;
}

#chatSearch {
    width: 30%;
}

#left{
    background-color: #009EC2;
    height: 100%;
}

#left h3 {
    color: white;
}

#left a {
    color: white;
}

#main2{
    display: inline;
}
#middlebutton{
  margin-left: 50px;

}
#Connect{
  /*background: blue;*/
  color: 009ec2; 
  position: absolute; 
    width: 400px;  
    height: 400px;
    background: black; 
    background-color:white;
    margin-left: 700px;
    margin-top: 80px;
    padding: 30px;
    /*opacity: 0.10;*/

    /*background-color: rgba(255, 255, 255, 0.5);*/*/


}

#button{
background-color:#FF7F00; 
width: 180px;
border-style: none;
padding: 12px;
font-size: 20px;
/*color:#FF7F00;*/

}
#nav{

    width:auto;
    top: 2px;
}
#discription{

    position: absolute; 
    width: 400px;  
    height: 250px;
    color:white;
    /*background: white; */
    /*background-color:white;*/
    margin-left: 100px;
    margin-top: 220px;
    padding: 30px;

}

#remember{

    margin-left: 690px;
    margin-top: -20px;
    color: white;
}

#setting {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#blue{
width: 800px;

}

#row3{



}

#row1{
margin-left: 200px;

}

#body1{
    margin-left: 200px;
    margin-top: 50px;
  /*  background-color: red;*/


}

#body2{
    margin-left: 200px;
    margin-top: 50px;

}
#body3{
     margin-left: 200px;
    margin-top: 50px;
}
/*footer stuff*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#message{
  
  position: absolute; 
    width: 600px;  
    height: 250px;
    color:black;
    margin-left: 400px;
    margin-top:400px;
    padding: 30px;
   

    }  
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 50vh;
  }
      
.vcenter {
    position: absolute;
    height:50%;
    width:40%;
    top:10%;
    bottom:50%;
    margin-top: 10px;  
    right:10%; /* adjust the position here, use the LEFT or RIGHT options */
}
.v-center {
    position: absolute;
    height:40%;
    top:10%;
    bottom:50%;
    margin-top: 10px; 
    left:10%; /* adjust the position here, use the LEFT or RIGHT options */
}    
.borders {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #000000;
    background-color: rgba(255,255,255,0.4);/* adjust the div transparency here*/
}
.borders2 {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #000000;
    background-color: rgba(100,000,100,0.4);/* adjust the div transparency here*/
}    
.bg-select {
    background-color: rgba(00,00,255,0.3); /* adjust the transparency for the dropdown here*/
    width:50%; /* adjust the dropdown width here*/
    color:#fff;
}
.text-clr {
    color:#fff;
}
.text-clr2 {
    color:#4c4cff;
}    

#footer{
margin-top: 800px;
color:009ec2;
margin-left: 120px;
padding-top: 10px



}

.left-chat-column{
    background-color: #009ec2;
}

.mini-icon{
    margin-right: 10px;
}

.btn-primary {
  border: none !important;
  background-color: #009EC2 !important;
}

.btn-default {
    color: white !important;
  background-color: #009EC2 !important;
}

.input-group{
    bottom: 0;
}
